/vendor/
vendor/
node_modules/
npm-debug.log
*.cache
*.phar
*.lock
package-lock.json
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

*.stackdump
*.log
.git-rewrite
/docs/package-lock.json
/build
.git-blame-ignore-revs
.php-cs-fixer.cache
.git-rewrite/
.php-cs-fixer.cache
node_modules
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
build/
vendor/
build/
node_modules
./node_modules/
node_modules/
node_modules/*
docs/cache/
cache/
