includes:
    - phpstan-baseline.neon
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max
    paths:
        - .

    ignoreErrors:
    #    - '#Unsafe usage of new static#'
        - '#PHPDoc tag @mixin contains unknown class #'

    excludePaths:
        - ./build/*
        - ./vendor/*
        - ./*/vendor/*
        - ./docs/*
        - ./Tests/*
        - ./_ide_helper.php

    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: false
    checkOctaneCompatibility: false
    checkModelProperties: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
